* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

[class*="square"] {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    margin: 3px;
}

.square-1 {
    justify-content: center;
    align-items: center;
}
.square-2, .square-3, .square-4, .square-6{
    justify-content: space-between;
}

.end {
    align-self: flex-end;
}

.center {
    align-self: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}